body {
    background-color: #efefef;
    color: #a9a9a9;
}

h1, h2, h3 {
    color: #caebf2;
    font-family: 'Inter', sans-serif;
}

h4, h5, h6 {
    color: #888888;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}