body {
    background-color: #efefef;
    color: #a9a9a9;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    color: #89b7c2;
    font-family: 'Inter', sans-serif;
}

h4, h5, h6 {
    color: #888888;
}

.modal-backdrop.show {
    opacity: .2;
}