* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: 'Inter', sans-serif;
  color: #a9a9a9;
}

body::-webkit-scrollbar {
  display: none;
}

a:hover {
  text-decoration: none;
}

.dropDown:hover {
  background-color: #ff3b3f;
}

.trailer-container,
.map-container {
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.15);
}

.trailer-container {
  margin-bottom: 1rem;
}

.trailer-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.accountDetails,
.rentedDetails,
.listingDetails {
  padding: 20px;
  min-height: 50vh;
}

.modal-backdrop.show {
  opacity: 0.2;
}
